.header {
  padding-top: 1rem;

  &__container {
    max-width: $containerMaxWidth;
  }

  &__body {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
  }

  &__col {
    padding: 0 15px;
  }

  &__left {
    flex: 0 1 25%;
    max-width: 25%;
  }

  &__right {
    flex: 0 1 75%;
    max-width: 75%;
  }

  &__actions {
    margin-bottom: 18px;
  }

  &__buttons {
    margin-right: $base * 5px;
  }
}

.logo {
  display: flex;
  align-items: center;

  &__link {
    margin-right: 1rem;
  }

  &__text {
    max-width: 210px;
    font-size: 12rem / 16 * 1;
    line-height: 16px;
  }
}

.header-actions {
  display: flex;

  &__form {
    margin-right: $base * 5px;
  }
}

.header-form {
  position: relative;
  flex: 0 1 453px / $containerMaxWidth * 100%;

  &__label {
    margin: 0;
    padding: 0;
  }

  &__input {
    outline: none;
    border: none;
    border-radius: 50px;
    padding: 0;
    padding-left: 15px;
    width: 100%;
    min-height: $base * 10px;
    line-height: $base * 10px;
    background: $concrete;

    &::placeholder {
      font-size: 12rem / 16 * 1;
      line-height: 1rem;
      color: #c4c4c4;
    }
  }

  &__button {
    position: absolute;
    right: 0;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    outline: none;
    border: none;
    border-radius: 0 50px 50px 0;
    padding: 0;
    width: 50px;
    min-height: $base * 10px;
    background: $lochmara;
    cursor: pointer;

    &::before {
      content: "";
      display: block;
      width: 14px;
      height: 14px;
      background: url("../img/icons/header/header-search.svg") center no-repeat;
      background-size: contain;
    }
  }
}

.header-buttons {
  display: flex;
  align-items: flex-start;

  &__button {
    margin-right: $base * 5px;

    &:last-child {
      margin-right: 0;
    }
  }
}

.header-langs {
  ul {
    list-style-type: none;
    margin: 0;
  }

  &__list {
    position: relative;
    z-index: 22;
    padding: 0;
    background-color: #fff;
  }

  &__item--current {
    @media (min-width: 992px) {
      &:hover {
        .header-langs__link {
          &::after {
            transform: rotate(180deg);
          }
        }

        .header-langs__sub-list {
          padding-top: 20px;
          padding-bottom: 20px;
          max-height: 300px;
        }
      }
    }
  }

  &__link {
    font-weight: 600;
    font-size: 12rem / 16 * 1;
    text-transform: uppercase;
    color: #000;
  }

  &__link--current {
    position: relative;
    z-index: 2;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px;
    padding: 10px;
    width: 72px;
    background-color: $concrete;

    &::after {
      content: "";
      margin-left: auto;
      width: 13px;
      height: 13px;
      background: url("../img/icons/header/arrow-down.svg") center no-repeat;
      background-size: contain;
      transition: transform 0.3s ease;
    }
  }

  &__sub-list {
    position: absolute;
    top: 30px;
    overflow: hidden;
    border-bottom-right-radius: 8px;
    border-bottom-left-radius: 8px;
    padding-right: 8px;
    padding-left: 11px;
    width: 100%;
    max-height: 0;
    background-color: #fff;
    transition: padding 0.3s ease, max-height 0.3s ease;

    li {
      margin-bottom: 10px;

      &:last-child {
        margin-bottom: 0;
      }
    }

    // max-height: 0;
  }
}

.header-menu {
  display: flex;
  width: 100%;
}

.menu {
  flex: 1 1 700px / $windowMaxWidth * 100%;

  ul {
    display: flex;
    list-style-type: none;
    margin: 0;
    padding: 0;
  }

  li {
    margin-right: 14px;

    &.sub-menu {
      margin-right: 0;
    }
  }

  a {
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 12rem / 16 * 1;
    line-height: 1rem;
    color: $midnight;

    i {
      margin-right: 8.5px;
    }
  }
}

.sub-menu {
  position: relative;
  margin-right: 0;

  ul {
    position: absolute;
    right: 0;
    top: 30px;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    border-radius: 20px;
    border-top-right-radius: 0;
    min-width: 208px;
    max-height: 0;
    background-color: #fff;
    transition: padding 0.3s ease, max-height 0.3s ease;
  }

  li {
    display: block;
    margin-right: 0;
    margin-bottom: 2px;

    &:last-child {
      margin-bottom: 0;
    }

    @media (min-width: 992px) {
      &:hover {
        a {
          color: #fff;
          background-color: $midnight;
        }

        img {
          filter: invert(100%) sepia(0%) saturate(1%) hue-rotate(228deg) brightness(102%) contrast(101%);
        }
      }
    }
  }

  a {
    padding: 6px 0 6px 20px;
    width: 100%;
  }

  span {
    position: relative;
    display: inline-flex;
    align-items: center;
    font-weight: 600;
    font-size: 12rem / 16 * 1;
    line-height: 1rem;
    color: $midnight;
    cursor: pointer;

    &::after {
      content: "";
      display: block;
      margin-left: 6.5px;
      width: 10px;
      height: 10px;
      background: url("../img/icons/single-arrow.svg") center no-repeat;
      background-size: contain;
      transition: transform 0.3s ease;
    }
  }

  &:hover {
    ul {
      padding-top: 20px;
      padding-bottom: 25px;
      max-height: 400px;
    }

    span {
      &::after {
        transform: rotate(180deg);
      }
    }
  }
}

.header-favourites {
  flex: 0 0 120px;
  max-width: 120px;

  &__trigger {
    position: relative;
    display: inline-flex;
    align-items: center;
    outline: none;
    border: none;
    border-radius: 12px;
    padding: 10px;
    padding-right: 30px;
    font-weight: 600;
    font-size: 12rem / 16 * 1;
    line-height: 1rem;
    color: $midnight;
    background: $concrete;
    cursor: pointer;

    &::after {
      content: "";
      position: absolute;
      right: 10px;
      top: 50%;
      width: 10px;
      height: 10px;
      background: url("../img/icons/header/arrow-down.svg") center no-repeat;
      background-size: contain;
      transform: translateY(-50%);
    }
  }

  &__icon {
    margin-right: 8.5px;
    width: 20px;
    height: 20px;
    background: url("../img/icons/favourites.svg") center no-repeat;
    background-size: contain;
  }

  &__list {
    margin: 0;
    padding: 0;
  }
}

.favourites-item {
  &__top {
  }

  &__title {
  }

  &__center {
  }

  &__price {
  }

  &__bottom {
  }
}

.favourites-price {
  &__text {
  }
}

.favourites-button {
}

.favourites-button--blue {
}

.favourites-button--red {
}
